                /* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug {
    border: 3px solid red;
}

                /* GENERAL */

/* colors */

:root {
    --aside: rgba(0, 0, 0, 1);
    --main-top: rgba(8, 11, 18, 1);
    --main-bottom: rgba(20, 25, 34, 1);
    --footer: rgba(40, 40, 40, 1);
    --grey-nav-playlist: rgba(163, 163, 163, 1);
    --lime: rgba(173, 255, 47, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-main: rgba(125, 127, 132, 1);
    --grey-aside: rgba(113, 113, 113, 1);
    --home: rgba(210, 210, 210, 1);
}

/* flex classes */

img {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

.column {
    flex-direction: column;
}

.white-text {
    color: var(--white);
    font-size: 0.7rem;
    font-weight: bold;
}

/* font family */

body {
    font-family: 'Montserrat', sans-serif;
}

/* font classes */

.nav-font ul {
    color: var(--grey-main);
    font-size: 0.6rem;
    list-style-type: none;
}

.nav-small-font {
    color: var(--grey-main);
    font-size: 0.7rem;
}

.albums-section-font {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
}

.album-title {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
}

.bottom-main-content ul li a {
    color: var(--grey-main);
}

/* bonus effect: text / image turns white on :hover */

.bottom-main-content ul li a:hover,
aside *:hover,
#player-left *:hover {
    color: var(--white);
}

/* a wrapper includes the whole web appº */

.wrapper {
    width: 100%;
    height: 100vh;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100vh - 6rem);
}

/* LEFT SIDE OF THE APP */

aside {
    width: 14.5rem;
    height: 100%;
    background-color: var(--aside);
    color: var(--grey-aside);
    position: relative;
}

.aside-top {
    width: 14.5rem;
    height: 100% - 6rem;
    padding: 0.5rem 0 0 0.5rem;
}

.aside-bottom {
    width: 14.5rem;
    position: fixed;
    bottom: 0;
    position: absolute;
    padding: 0.5rem 0.5rem;
}

.aside-bottom div:first-child {
    color: var(--grey-aside);
    border-bottom: 1px solid var(--grey-aside);
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
}

.aside-bottom div:first-child a i {
    color: var(--grey-aside);
    padding-right: 0.3rem;
}

.aside-bottom div:last-child {
    padding-top: 0.3rem;
}

.aside-bottom span.white-text {
    padding-left: 0.5rem;
    font-size: 0.6rem;
}

.profile {
    background-color: var(--grey-aside);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.profile img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

aside img {
    width: 8%;
}

#logo {
    width: 40%;
    padding-bottom: 0.4rem;
}

.aside-top div.flex {
    padding-bottom: 0.3rem;
}

h6.white-text {
    padding-bottom: 0.3rem;
}

.add-playlist {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: var(--grey-aside);
    color: var(--main-top);
    font-size: 2rem;
    text-align: center;
}

.aside-mobile {
    display: none;
    width: 2.5rem;
    height: 100%;
    background-color: var(--aside);
    color: var(--grey-aside);
    position: relative;
}

.aside-mobile-top {
    width: 2.5rem;
    height: 100% - 3rem;
    padding: 0.3rem 0 0 0.3rem;
}

.aside-mobile-bottom {
    width: 2.5rem;
    position: fixed;
    bottom: 0;
    position: absolute;
    padding: 0.3rem 0.3rem;
}

.aside-mobile img {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0.3rem;
}

.aside-mobile-bottom i {
    padding-bottom: 0.4rem;
    color: var(--grey-aside);
    font-size: 0.8rem;
}

/* MAIN PART OF THE APP */

.main-content {
    background-color: var(--main-bottom);
    width: calc(100% - 14.5rem);
    height: 100%;
    overflow: hidden;
}

/* call to action with button shaped a section */

.top-main-content {
    width: calc(100% - 14.5rem);
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--grey-main);
    position: fixed;
    top: 0;
    z-index: 999;
}

/* call to action button */

.upgrade-btn {
    background-color: var(--main-top);
    font-size: 0.6rem;
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    text-decoration: none;
    margin-right: 0.8rem;
    transition: all 0.25s ease;
}

/* cta button and player center controllers buttons get bigger on :hover */
.upgrade-btn:hover,
#player-center-controllers i:hover {
    transform: scale(1.1);
}

/* main part of the main section */

.bottom-main-content {
    width: 100%;
    height: calc(100vh - 6rem);
    color: var(--white);
    overflow-y: auto;
    padding-top: 7.5rem;;
}

/* nav section & relative anchors */

nav {
    width: 60%;
    margin: 0 auto;
}

.bottom-main-content ul a {
    text-decoration: none;
    color: var(--white);
    padding-right: 2rem;
    display: inline-block;
}

.bottom-main-content ul a.underline-lime::after {
    content: "";
    display: block;
    width: 50%;
    height: 0.1rem;
    background-color: var(--lime);
    margin: 0.3rem auto;
}

/* GROUPS OF ALBUMS in the main sention of the app */

#recent,
#john-doe,
#popular {
    padding: 1.5rem 1rem;
}

/* ALBUM CARD */

.album-card {
    width: calc((100% - 5rem) / 6);
    cursor: pointer;
}

.album-card h4 {
    padding-top: 0.5rem;
}

/* FOOTER (PLAYER) */

footer {
    width: 100%;
    height: 6rem;
    background-color: var(--footer);
    color: var(--white);
    position: fixed;
    bottom: 0;
    z-index: 1999;
}

/* player left */

#player-left {
    width: 14.5rem;
    height: 100%;
    padding-left: 0.4rem;
}

#player-left img {
    width: 3.5rem;
    padding-right: 1.2rem;
}

#player-left-text {
    width: 55%;
}

#player-left-icons i {
    color: var(--grey-main);
    font-size: 0.8rem;
    padding-left: 0.8rem;
    width: 25%;
}

/* title track turns underlined on:hover */

#player-left-text span:hover {
    text-decoration: underline;
}

/* player center */

#player-center {
    width: 50%;
}

#player-center-controllers i {
    margin: 0 1.5rem;
    padding-bottom: 1.5rem;
    transition: all 0.25s ease;
}

#player-center-time {
    width: 80%;
}

#player-center-time .time-bg,
#player-right .time-bg {
    background-color: var(--main-bottom);
    height: 0.3rem;
    width: 80%;
    border-radius: 0.6rem;
}

#player-center-time .time,
#player-right .time {
    background-color: var(--grey-main);
    height: 0.3rem;
    width: 20%;
    border-radius: 0.6rem;
}

/* expired time bars turn color lime on :hover */

#player-center-time .time:hover,
#player-right .time:hover {
    background-color: var(--lime);
} 

/* player right */

#player-right {
    width: 25%;
}

#player-right i {
    padding-right: 0.8rem;
}


                    /* RESPONSIVE DESIGN */

/* BIG TABLETS */

@media screen and (max-width: 991px) {

    .album-card {
        width: calc((100% - 3rem) / 4);
    }
}

/* SMALL TABLETS */

@media screen and (max-width: 768px) {

    .album-card {
        width: calc((100% - 1rem) / 2);
    }

    #player-left-icons {
        flex-direction: column;
    }

}


/* SMARTPHONES */

@media screen and (max-width: 575px) {

    /* the big default aside area disappears ... */
    main aside:first-child {
        display: none;
    }

    /* ...while a new thin one takes its place */
    .aside-mobile {
        display: inline-block;
    }

    /* because of this there are several elements that must change their width */
    .main-content,
    .top-main-content {
        width: calc(100% - 2.5rem);
    }

    #player-left-text .flex {
        flex-direction: column;
        justify-content: flex-start;
    }

    /* playbar smartphone (max-width: 575px) */

    footer {
        flex-direction: column;
        padding-top: 2rem;
    }

    #player-left-icons {
        flex-direction: row;
    }

    #player-center-controllers i {
        margin: 0 1.5rem;
        padding: 0.5rem 0;
    }

    #player-center-time span {
        font-size: 0.7rem;
    }

    #player-center-time span:first-child {
        padding-right: 1rem;
    }

    #player-center-time span:last-child {
        padding-left: 1rem;
    }

    .profile {
        background-color: var(--grey-aside);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .profile img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0 auto;
    }

    .aside-mobile-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-mobile-bottom a i {
        font-size: 1rem;
        margin: 0 auto;
        color: var(--white);
    }

}

/* .aside-mobile-bottom disappears under 300 px height on phone layout */
@media screen and (max-width: 575px) and (max-height: 300px) {
    .aside-mobile-bottom {
        display: none;
    }
}




