/* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug {
    border: 3px solid red;
}

/* GENERAL */

/* colors */

:root {
    --aside: rgba(0, 0, 0, 1);
    --main-top: rgba(8, 11, 18, 1);
    --main-bottom: rgba(20, 25, 34, 1);
    --footer: rgba(40, 40, 40, 1);
    --grey-nav-playlist: rgba(163, 163, 163, 1);
    --underline: rgba(173, 255, 47, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-main: rgba(125, 127, 132, 1);
    --grey-aside: rgba(113, 113, 113, 1);
    --home: rgba(210, 210, 210, 1);
}

/* flex classes */

img {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

.column {
    flex-direction: column;
}

.white-text {
    color: var(--white);
}

/* font family */

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100vh - 6rem);
}

aside {
    width: 14.5rem;
    height: 100%;
    background-color: var(--aside);
    color: var(--grey-aside);
    position: relative;
}

.aside-bottom {
    width: 14.5rem;
    position: fixed;
    bottom: 0;
    position: absolute;
}

.aside-top {
    width: 14.5rem;
    height: 100% - 6rem;
}

aside img {
    width: 15%;
}

.add-playlist {
    width: 2.5rem;
    aspect-ratio: 1;
    background-color: var(--grey-aside);
    color: var(--main-top);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.main-content {
    width: calc(100% - 14.5rem);
    height: 100%;
    overflow: hidden;
}

.top-main-content {
    width: calc(100% - 14.5rem);
    height: 6rem;
    background-color: var(--underline);
    color: var(--grey-main);
    position: fixed;
    top: 0;
    z-index: 999;
}

.bottom-main-content {
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: var(--main-bottom);
    color: var(--white);
    overflow-y: auto;
    padding-top: 7.5rem;;
}

.bottom-main-content ul a {
    text-decoration: none;
    color: var(--white);
    padding-right: 2rem;
    display: inline-block;
}

.bottom-main-content ul a.underline-yellow::after {
    content: "";
    display: block;
    width: 50%;
    height: 0.1rem;
    background-color: var(--underline);
    margin: 0.3rem auto;
}


.upgrade-btn {
    background-color: var(--main-top);
    font-size: 0.6rem;
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    text-decoration: none;
    margin-right: 2rem;
    /* position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%); */
    transition: all 0.25s ease;
}

.upgrade-btn:hover {
    transform: scale(1.1);
}

.album-card {
    width: calc((100% - 5rem) / 6);
    cursor: pointer;
}

nav {
    width: 60%;
    margin: 0 auto;
}

/* font classes */

.nav-font ul {
    color: var(--grey-main);
    font-size: 0.6rem;
    list-style-type: none;
}

.nav-small-font {
    color: var(--grey-main);
    font-size: 0.6rem;
}

.albums-section-font {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
}

.album-title {
    color: var(--white);
    font-size: 0.6rem;
    font-weight: bold;
}

#recent,
#john-doe,
#popular {
    padding: 1.5rem 1rem;
}

.album-card h4 {
    padding-top: 0.5rem;
}


/* FOOTER */

footer {
    width: 100%;
    height: 6rem;
    background-color: var(--footer);
    color: var(--white);
    position: fixed;
    bottom: 0;
    z-index: 1999;
}

                    /* RESPONSIVE DESIGN */

/* BIG TABLETS */

@media screen and (max-width: 991px) {

    .album-card {
        width: calc((100% - 3rem) / 4);
    }
}

/* SMALL TABLETS */

@media screen and (max-width: 768px) {

    .album-card {
        width: calc((100% - 1rem) / 2);
    }
}


/* SMARTPHONES */

@media screen and (max-width: 575px) {

    .main-content {
        width: calc(100% - 2.5rem);
            
    }

    aside,
    .aside-top,
    .aside-bottom {
        width: 2.5rem;
    }
}




