/* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug {
    border: 1px solid turquoise;
}

/* GENERAL */

/* flex classes */

.flex {
    display: flex;
}

/* colors */

:root {
    --aside: rgba(0, 0, 0, 1);
    --main-top: rgba(8, 11, 18, 1);
    --main-bottom: rgba(20, 25, 34, 1);
    --footer: rgba(40, 40, 40, 1);
    --grey-nav-playlist: rgba(163, 163, 163, 1);
    --underline: rgba(173, 255, 47, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-main: rgba(125, 127, 132, 1);
    --grey-aside: rgba(113, 113, 113, 1);
    --home: rgba(210, 210, 210, 1);
}

/* font family */

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.nav-font {
    color: var(--grey-main);
    font-weight: bold;
}

.nav-small-font {
    color: var(--grey-main);
    font-size: 0.8rem;
    font-weight: bold;
}

.album-group-font {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}

.album-font {
    color: var(--white);
    font-weight: bold;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100vh - 6rem);
}

aside {
    width: 14.5rem;
    height: 100%;
    background-color: var(--aside);
    color: var(--grey-aside);
}

.main-content {
    width: calc(100% - 14.5rem);
    height: 100%;
    overflow: hidden;
}

.top-main-content {
    width: 100%;
    height: 6rem;
    background-color: yellowgreen;
    color: var(--grey-main);
    position: fixed;
    top: 0;
    z-index: 999;
}

.bottom-main-content {
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: var(--main-bottom);
    color: var(--white);
    overflow-y: auto;
    padding-top: 7.5rem;;
}

/* FOOTER */

footer {
    width: 100%;
    height: 6rem;
    background-color: var(--footer);
    color: var(--white);
    position: fixed;
    bottom: 0;
    z-index: 1999;
}
